:root {
    --main: #FF2532;
    --dark: #0B0D17;
    --light: #F3F4FA;
    --flash: #FFC03D;
    --flashTrans: rgba(255, 192, 61, 0.29);
    --grey: #857C8B;
    --grey-bg: #DAD8E0;
    --lato:  'Lato', sans-serif;;
    --nunito:  'Nunito', sans-serif;;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  transition: all .2s ease 0s;
   /*Visualisation des éléments */
  /*border: 1px dotted rgba(0,0,0,0.3);*/
}

*:hover {
    transition: all .2s ease 0s;
}

html {
    font-size: 62.5%;
    font-family: var(--nunito);
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.7rem;
    line-height: 1.7;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 50px;
}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
    padding-left: 0;
}

h2 {
  font-size: 5rem;
  font-family: var(--lato);
  font-weight: 900;
  color: var(--dark);
}

.container {
  padding: 5vh 10vw;
}