$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?cb19581edc958155f20d1edfbde5c505") format("truetype"),
url("./flaticon.woff?cb19581edc958155f20d1edfbde5c505") format("woff"),
url("./flaticon.woff2?cb19581edc958155f20d1edfbde5c505") format("woff2"),
url("./flaticon.eot?cb19581edc958155f20d1edfbde5c505#iefix") format("embedded-opentype"),
url("./flaticon.svg?cb19581edc958155f20d1edfbde5c505#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "youtube": "\f101",
    "tablet": "\f102",
    "translation": "\f103",
    "telephone": "\f104",
    "open-book": "\f105",
    "planning": "\f106",
    "linkedin": "\f107",
);

.flaticon-youtube:before {
    content: map-get($flaticon-map, "youtube");
}
.flaticon-tablet:before {
    content: map-get($flaticon-map, "tablet");
}
.flaticon-translation:before {
    content: map-get($flaticon-map, "translation");
}
.flaticon-telephone:before {
    content: map-get($flaticon-map, "telephone");
}
.flaticon-open-book:before {
    content: map-get($flaticon-map, "open-book");
}
.flaticon-planning:before {
    content: map-get($flaticon-map, "planning");
}
.flaticon-linkedin:before {
    content: map-get($flaticon-map, "linkedin");
}
